<h1>Listing loots</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Stackable</th>
      <th>Experimental</th>
      <th>External link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @loots.each do |loot| %>
      <tr>
        <td><%= loot.name %></td>
        <td><%= loot.loot_type %></td>
        <td><%= loot.stackable %></td>
        <td><%= loot.experimental %></td>
        <td><%= loot.external_link %></td>
        <td><%= link_to 'Show', loot %></td>
        <td><%= link_to 'Edit', edit_loot_path(loot) %></td>
        <td><%= link_to 'Destroy', loot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Loot', new_loot_path %>

<br>

<h2>Export Loot</h2>
<%= link_to "CSV", loots_path(format: "csv") %>
<%= link_to "Excel", loots_path(format: "xls") %>

<br>

<h2>Import Loot</h2>
<%= form_tag import_loots_path, multipart: true do %>
  <%= file_field_tag :file %><br>
  <%= submit_tag "Import" %>
<% end %>

