<%= form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :trade_id %><br>
    <%= f.number_field :trade_id %>
  </div>
  <div class="field">
    <%= f.label :offered %><br>
    <%= f.text_area :offered %>
  </div>
  <div class="field">
    <%= f.label :purchaser_id %><br>
    <%= f.number_field :purchaser_id %>
  </div>
  <div class="field">
    <%= f.label :threat_level %><br>
    <%= f.number_field :threat_level %>
  </div>
  <div class="field">
    <%= f.label :accepted %><br>
    <%= f.check_box :accepted %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
