<h1>Listing offers</h1>

<table>
  <thead>
    <tr>
      <th>Trade</th>
      <th>Offered</th>
      <th>Purchaser</th>
      <th>Threat level</th>
      <th>Accepted</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.trade_id %></td>
        <td><%= offer.offered %></td>
        <td><%= offer.purchaser_id %></td>
        <td><%= offer.threat_level %></td>
        <td><%= offer.accepted %></td>
        <td><%= link_to 'Show', offer %></td>
        <td><%= link_to 'Edit', edit_offer_path(offer) %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Offer', new_offer_path %>
